<!DOCTYPE html>
<html>
<head>
<style>
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}
</style>
</head>
<body>

<h2>The border-style Property</h2>
<p>This property specifies what kind of border to display:</p>

<p class="dotted">Dinh The Vinh.</p>
<p class="dashed">Dinh The Vinh.</p>
<p class="solid">Dinh The Vinh.</p>
<p class="double">Dinh The Vinh.</p>
<p class="groove">Dinh The Vinh.</p>
<p class="ridge">Dinh The Vinh.</p>
<p class="inset">Dinh The Vinh.</p>
<p class="outset">Dinh The Vinh</p>
<p class="none">Dinh The Vinh.</p>
<p class="hidden">Dinh The Vinh.</p>
<p class="mix">Dinh The Vinh.</p>

</body>
</html>


